{% extends "base.html.twig" %}

{% block title %}Agenda -  Nouveau contact{% endblock %}

{% block content %}
    <h1 class="text-center my-3 display-5">Modifier le livre</h1>

    <div class="container">
        {{form_start(livres_edit_form)}}
            
            <div class="mb-3">
                <label for="">Nom</label>
                
                {{form_widget(livres_edit_form.nom, {'attr' : {'class' : 'form-control'} } )}}
            </div>
            
            <div class="mb-3">
                <label for="">auteur</label>
                
                {{form_widget(livres_edit_form.auteur,{'attr' : {'class' : 'form-control'} })}}
            </div>
            
            <div class="mb-3">
                <label for="">avis</label>
                
                {{form_widget(livres_edit_form.avis, {'attr' : {'class' : 'form-control'} })}}
            </div>

            <div class="mb-3">
                <label for="">Notes</label>
                
                {{form_widget(livres_edit_form.note, {'attr' : {'class' : 'form-control'} })}}
            </div>

            <input type="submit" class="btn btn-success" value="Créer" formnovalidate >
        {{form_end(livres_edit_form)}}
    </div>
{% endblock %}